recommendations.csv
users.csv
games.csv
games_metadata.json
recommendations.parquet
.ipynb_checkpoints/EDA-checkpoint.ipynb
.ipynb_checkpoints/D502 EDA-checkpoint.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
*.tmp
~$95_task_2_Shawn Watts.docx
~$ta Analytics Capstone Topic Approval Form.docx
~$95_task_2_template.docx
D195_task_3_Shawn_Watts - Copy.docx:Zone.Identifier
D195_task_3_Shawn_Watts - Copy.docx
